pandas
numpy
streamlit
pyodbc
scikit-learn
scipy
matplotlib
seaborn
summarytools
pmdarima
mlxtend
nbformat
nbconvert
openpyxl
pandasai
lida
ipython
tabulate
langchain==0.3.7
langchain-community==0.3.7
langchain-core==0.3.19
langchain-groq==0.2.1
langchain-huggingface
langchain-experimental
langchain-ollama
langchain-google-genai
faiss-cpu
pypdf==5.1.0
sentence-transformers
